body {
  background-color: gray;
}

.rightT {
  text-align: right;
}

.sideNav-hero {
  position: fixed;
  width: auto;
  top: 100px;
  width: 100%;
  background: #FBFBFB;
  border: 1px solid #eee;
  -moz-border-radius: 4px;
  border-radius: 2px;
  padding: 5px;
  color: rgba(0,0,0, .8);
  line-height: 1.5;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

  h1 {
    font-size: 2.4em;
  }
  
  em {
    color: skyblue;

    &.red {
      color: #FF3333;
    }

    &.purple {
      color: purple;
    }
    
    &.grey {
      color: grey;
    }
  }

  &:before, &:after {
    content:"";
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    position: static;
    width: auto;
    top: 0;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
  }

  &:after {
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
  }
}

.container-bokeh-workouts {
  max-height: 306px;
  background-repeat: no-repeat;
  background-image: asset-url("about/workout.jpg", image);
  border-radius: 4px;
}

.container-bokeh-social {
  max-height: 306px;
  background-repeat: no-repeat;
  background-image: asset-url("about/social.jpg", image);
  border-radius: 4px;
}

.container-bokeh-tech {
  max-height: 306px;
  background-repeat: no-repeat;
  background-image: asset-url("about/tech.jpg", image);
  border-radius: 4px;
}