<% content_for :nav do %>
  <%= render 'layouts/navbars/home' %>
<% end %>


<div class="container-fluid">
  <div class="row-fluid bumpDown">
    <div class="span3">
      
      <div class="container-fluid container-right container-space-bottom">
        <div class="row-fluid">
          <div class="span12 hero-unit">
            <h1>How Fittr Works</h1>
            <h1>Fittr's Workouts</h1>
            <h1>Fittr's Technology</h1>
            <h1>Socialize</h1>
            <h1>About Us</h1>
            <h1>FAQ</h1>
            <h1>Contact</h1>
          </div>
        </div>
      </div>
      
    </div>
    <div class="span9">
      
      
      <div class="container-fluid container-bokeh-hfw">
        <div class="row-fluid bumpDown">
          <div class="offset1 span10">
            <div class="hidden-phone">
              <div class="container-center">
                <h1 class="cubanoHead aboutBBT">The trainer of the</div>
                <h1 class="cubanoHead hugeT container-center">New Age</div>
              </div>
            </div>
            <div class="visible-phone">
              <div class="container-center">
                <h1 class="cubanoHead">The trainer of the New Age</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Start of alternating gray -->

      <div class="container-fluid container-roomier">
        <div class="row-fluid">
          <div class=" offset3 span9 hero-unit">

            <div class="span5 offset1">
               <div class="pointTitle">
                 <h1>You're unique</h1>
                 <h2>Now your workout is too.</h2>

                 <p>Use Fittr if you're losing weight with a home gym, a bodybuilder with a club membership, or even a newbie without much equipment.

                 <p><em class="grey">Worry free</em> Stop worrying whether you're training correctly, Fittr shows you exactly what you need to be doing to reach your goals.</p>

                 <p><em class="grey">Swap out excercises</em> Say you hate squats. Or your knee hurts. No Problem. Just suggest to Fittr that you'd like to change an excercise out and Fittr will give you some equivalent alternatives.</p>

                 <a href="/about/how-fittr-works">Learn more about how Fittr works</a>

               </div>
             </div>
             <div class="span5">
               <%= image_tag 'home/unique.png' %>
             </div>
            </div>

          </div>
        </div>
      </div>




      <div class="container-fluid container-right container-space-bottom">
        <div class="row-fluid">
          <div class="offset3 span9 hero-unit">

            <div class="span5 offset1">
               <%= image_tag 'home/iphones.png' %>
             </div>
             <div class="span5">
               <div class="pointTitle">
                  <h1>More Workouts</h1>
                  <h2>Less work.</h2>

                  <p>Fittr manages everything for your workouts and tailors new workouts for you. Let fittr worry about your fitness plan and scheduling, you've got more important things to deal with. Just grab your smartphone and hit the start your workout.</p>

                  </br>
                  <a href="#">Learn more about Fittr's workouts</a>

                </div>
             </div>
            </div>

          </div>
        </div>
      </div>
      
      
    </div>
  </div>
</div>

