<% content_for :nav do %>
  <%= render 'layouts/navbars/home' %>
<% end %>

<div class="container-fluid container-bokeh-hfw container-padded">
  <div class="row-fluid bumpDown">
    <div class="offset1 span10">
      <div class="container-center">
        <h1 class="cubanoHead">The trainer of the new age</div>
      </div>
    </div>
  </div>
</div>