<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a href="/">
        <img class="pull-left logo" src="http://fittr.com/assets/logo.png">
      </a>
      <ul class="nav">
        <li class="active">
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Blog</a>
        </li>
      </ul>
      <ul class="nav pull-right">
        <li>
        <a href="#loginModal" data-toggle="modal"><i class="icon-user bumpDown"></i> Login</a>
        </li>
        <li>
        <a href="#"><i class="icon-book bumpDown"></i> Join Now</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Login modal box -->
<%= render 'layouts/modals/login' %>
