<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a href="/">
        <img class="pull-left logo" src="http://fittr.com/assets/logo.png">
      </a>
      <ul class="nav">
	
	    <!-- Home -->
	    <% if current_page? :controller => 'home', :action => 'index' %>
        <li class="active">
	    <% else %>
	    <li>
		<% end %>
		  <%= link_to 'Home', :controller => 'home', :action => 'index' %>
        </li>

	    <!-- About -->
	    <% if current_page? :controller => 'about', :action => 'howFittrWorks' %>
        <li class="active">
	    <% else %>
	    <li>
		<% end %>
		  <%= link_to 'About', :controller => 'about', :action => 'howFittrWorks' %>
        </li>

		<!-- Blog -->
        <li>
          <a href="http://blog.fittr.com">Blog</a>
        </li>
      </ul>

	  <!-- Login and register -->
      <ul class="nav pull-right">
        <li>
        <a href="#loginModal" data-toggle="modal"><i class="icon-user bumpDown"></i> Login</a>
        </li>
        <li>
        <a href="#"><i class="icon-book bumpDown"></i> Join Now</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Login modal box -->
<%= render 'layouts/modals/login' %>
