<div class="navbar navbar-top">
  <div class="navbar-inner">
    <div class="container">
      <a href="/">
        <%= image_tag 'logo.png', :class => 'pull-left logo'%>
      </a>
      <ul class="nav">
	
	    <!-- Home -->
	    <% if current_page? :controller => 'home', :action => 'index' %>
        <li class="active">
	    <% else %>
	    <li>
		<% end %>
		  <%= link_to 'Home', :controller => 'home', :action => 'index' %>
        </li>

	    <!-- About -->
	    <% if current_page? :controller => 'about', :action => 'howFittrWorks' \
		     or current_page? :controller => 'about', :action => 'fittrsWorkouts' \
		     or current_page? :controller => 'about', :action => 'TermsOfUse' \
		     or current_page? :controller => 'about', :action => 'fittrsTechnology' \
		     or current_page? :controller => 'about', :action => 'socialize' \
		     or current_page? :controller => 'about', :action => 'ContactUs' \
				 or current_page? :controller => 'about', :action => 'trainerComparison' \
				 or current_page? :controller => 'about', :action => 'PrivacyPolicy' \
		     or current_page? :controller => 'about', :action => 'FAQ' %> 
        <li class="active">
	    <% else %>
	    <li>
		<% end %>
		  <%= link_to 'About', :controller => 'about', :action => 'howFittrWorks' %>
        </li>

		<!-- Blog -->
        <li>
          <a href="http://blog.fittr.com">Blog</a>
        </li>
      </ul>

	  <!-- Login and register -->
      <ul class="nav pull-right">
        <li>
        <a href="#loginModal" data-toggle="modal"><i class="icon-user icon bumpDown"></i> Login</a>
        </li>
        <li>
        <a href="#"><i class="icon-book bumpDown"></i> Join Now</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Login modal box -->
<%= render 'layouts/modals/login' %>
