<div class="jumbosign">
   <div class="row-fluid"> 
     <div class="span12">
       <h1 class="align-center">Try it out, it's free</h1>
       <div class="getFittrButton">
       </div>
     </div>
    </div>
</div>