<div class="container-fluid align-center">
 <div class="row-fluid"> 
   <div class="span12 hero-unit">
     <h1>Try it out, it's free</h1>
      </br>
      <a class="btn btn-ad aboutBBT" href="#">Get Fittr Today!</a>
      </br>
      </br>
   </div>
  </div>
</div>