<div class="container-fluid align-center">
 <div class="row-fluid"> 
   <div class="span12 hero-unit">
     <h1 class="under20">Try it out, it's free</h1>
     <%= link_to 'Replace me', {:controller => 'home'}, :class => 'bumpedDown btn-try' %>
   </div>
  </div>
</div>