<div class="jumbosign">
  <div class="container-fluid align-center">
   <div class="row-fluid"> 
     <div class="span12">
       <h1>Try it out, it's free</h1>
       <div class="getFittrButton">
       </div>
     </div>
    </div>
  </div>
</div>