    <!-- Start of alternating gray -->
    <div class="offset4">
      <div class="span10">
        <!-- Boke head -->
        <div class="row-fluid">
          <div class="container-fluid container-bokeh-tech container-center innerGlowed">
            <div class="offset1 span10">
              <div class="hidden-phone">
                </br>
                  </br>
                <h1 class="cubanoHead hugeT container-center">Give Us A Shout</h1>
                    </br>
              </div>
            </div>
          </div>
        </div>
          
          <!-- row 8 -->
          <div class="row-fluid">
            <div class="container-fluid container-padded">
              <div class="span12 hero-unit">
                
                <div class="appleDesc">
                  <h1>Contact</h1>
                  <h2>For answers now, visit our page! <%= link_to 'FAQ', :controller => 'about', :action => 'FAQ' %></h2>
                  <p>If you don't have luck there, send us an email <a href="mailto:contactus@fittr.com?Subject=Hey%20Fittr">Here</a> and we'll get back to you ASAP</p>
                </div>
                
              </div>
                
            </div>
          </div>
          <%= render :partial => 'tryItButton' %>
        </div>
          
          
      </div>
    </div>
