    <!-- Start of alternating gray -->
      <!-- Boke head -->
      <div class="row-fluid">
        <div class="container-fluid container-bokeh-hfw container-center innerGlowed">
            <div class="hidden-phone">
              </br>
              <h1 class="cubanoHead hugeTT container-center">Give Us A Shout</h1>
            </div>
        </div>
      </div>

      <!-- row 1 -->
       <div class="jumbosign">
           <div class="row-fluid">
             <div class="span12">
               <div class="span7">
  						  <!-- On top for mobile -->
  							<div class="span5 align-center visible-phone">
                   <%= image_tag 'about/alexis.png' %>
                </div>
                 <div class="appleDesc">
                   <h1>Contact</h1>
                   <h2>For answers now, visit our page! <%= link_to 'FAQ', :controller => 'about', :action => 'FAQ' %></h2>
                   <p>If you don't have luck there, send us an email <a href="mailto:contactus@fittr.com?Subject=Hey%20Fittr">Here</a> and we'll get back to you ASAP</p>
                 </div>
                 
               </div>
             </div>
         </div>
         
         </div>
    
          <%= render :partial => 'tryItButton' %>
        </div>
          
          
      </div>
    </div>
