
      <!-- Start of alternating gray -->
    <div class="offset4">
      <div class="span10">
        <!-- Boke head -->
        <div class="container-fluid container-bokeh-hfw container-center innerGlowed">
          <div class="row-fluid">
            <div class="offset1 span10">
              <div class="hidden-phone">
                </br>
                  </br>
                <h1 class="cubanoHead hugeT container-center">FAQ</h1>
                    </br>
              </div>
            </div>
          </div>
        </div>
        
        
        <!-- row 1 -->
        <div class="jumbosign">
          <div class="container-padded container-fluid">
            <div class="row-fluid">
              <div class="span12">

                <!-- Q row 1 -->
                <div class="row-fluid">
                  <a href="#q1">
                    <div class="span6 buttonQue">
                      <div class="span3">
                        <span class="circleNumbers">1</span>
                      </div>
                      <div class="span9">
                        <p>How do I know how much weight to lift for an exercise?</p>
                      </div>
                    </div>
                  </a>

                  <a href="#q2">
                    <div class="span6 buttonQue">
                      <div class="span3">
                        <span class="circleNumbers">2</span>
                      </div>
                      <div class="span9">
                        <p>How do I know what my max is?</p>
                      </div>
                    </div>
                  </div>
                  </a>

                </br>
                <!-- Q row 2 -->
                <div class="row-fluid">
                  <a href="#q3">
                    <div class="span6 buttonQue">
                      <div class="span3">
                        <span class="circleNumbers">3</span>
                      </div>
                      <div class="span9">
                        <p>What is Facebook accountability?</p>
                      </div>
                    </div>
                  </a>


                  <a href="#q4">
                    <div class="span6 buttonQue">
                      <div class="span3">
                        <span class="circleNumbers">4</span>
                      </div>
                      <div class="span9">
                        <p>Do I need a smartphone to use Fittr?</p>
                      </div>
                    </div>
                  </div>
                  </a>


                <!-- Q row 3 -->
                </br>
                <div class="row-fluid">
                  <a href="#q5">
                    <div class="span6 buttonQue">
                      <div class="span3">
                        <span class="circleNumbers">5</span>
                      </div>
                      <div class="span9">
                        <p>Why can’t I complete the amount of reps called for?</p>
                      </div>
                    </div>
                  </a>

                  <a href="#q6">
                    <div class="span6 buttonQue">
                      <div class="span3">
                        <span class="circleNumbers">6</span>
                      </div>
                      <div class="span9">
                        <p>How do I know how many reps/sets to do?</p>
                      </div>
                    </div>
                  </div>
                  </a>


                </br>
                <!-- Q row 4 -->
                <div class="row-fluid" id="q1">
                  <a href="#q7">
                    <div class="span6 buttonQue">
                      <div class="span3">
                        <span class="circleNumbers">7</span>
                      </div>
                      <div class="span9">
                        <p>Can I change the day of my workout?</p>
                      </div>
                    </div>
                  </div>
                  </a>
              </div>
            </div>
          </div>
        </div>
      
          
          <!-- row 2 -->
          <div class="jumbosign">
            <div class="row-fluid">
              <div class="container-fluid">
                <div class="span12 ">

                  <div class="appleDesc">
                    <h2>How do I know how much weight to lift for an exercise?</h2>

                    <div class="align-justify">
                      <p id="q2">Everyone is at different fitness and strength levels, so there is a bit of experimenting required for new exercises. We suggest starting low and working your way up until you are comfortable with the weight and amount of reps you are supposed to do. The idea is to use a weight that is difficult enough to cause fatigue but easy enough that you can finish the exercise.</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          
          <!-- row 3 -->
          <div class="jumbosign">
            <div class="row-fluid">
              <div class="container-fluid">
                <div class="span12">

                  <div class="appleDesc">
                    <h2>How do I know what my max is?</h2>

                    <div class="align-justify">
                      <p id="q3">Your max is the absolute most amount of weight you can lift in a given exercise. When testing for your max you need to have a spotter on any exercise so that you can give a max effort without worrying if you can’t finish it. If you don’t have a spotter and you don’t want to test your max you can get a general idea by how much weight you can lift with a three or five rep max then plug it into a max rep calculator you can find by searching Google.</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          
          <!-- row 4 -->
          <div class="jumbosign">
            <div class="row-fluid">
              <div class="container-fluid">
                <div class="span12">

                  <div class="appleDesc">
                    <h2>What is Facebook accountability?</h2>

                    <div class="align-justify">
                      <p id="q4">Facebook accountability is our way to keep you consistently meeting your workouts. It's easy to make excuses and say that you'll do it the next day but with this feature, not only will you be hearing these excuses, but so will your friends. We will post on your behalf telling the world that you weren't able to stay committed.</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          
          
          
          <!-- row 5 -->
          <div class="jumbosign">
            <div class="row-fluid">
              <div class="container-fluid">
                <div class="span12">

                  <div class="appleDesc">
                    <h2>Do I need a smartphone to use Fittr?</h2>

                    <div class="align-justify">
                      <p id="q5">It is not necessary to use a smartphone, however, it is recommended. By using our app, you will be able to fill out the weights that you lifted as you do your workout. If you do not use the app, you may input your weights on Fittr's website.</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          
          
          <!-- row 6 -->
          <div class="jumbosign">
            <div class="row-fluid">
              <div class="container-fluid">
                <div class="span12">

                  <div class="appleDesc">
                    <h2>Why can’t I complete the amount of reps suggested to me?</h2>

                    <div class="align-justify">
                      <p id="q6">This is a common problem many people come across while lifting. Chances are you are lifting too much weight. The idea is not to lift the heaviest amount of weight but to lift the most effectively which probably means that you should use less weight, and you will probably get even better results.</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          
          <!-- row 7 -->
          <div class="jumbosign">
            <div class="row-fluid">
              <div class="container-fluid">
                <div class="span12">

                  <div class="appleDesc">
                    <h2>How do I know how many reps/sets to do?</h2>

                    <div class="align-justify">
                      <p id="q7">When given a workout plan you will be shown how many reps/sets for each exercise.</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            
          </div>
          
            
          <!-- row 8 -->
          <div class="jumbosign">
            <div class="row-fluid">
              <div class="container-fluid">
                <div class="span12">

                  <div class="appleDesc">
                    <h2>Can I change the day of my workout?</h2>

                    <div class="align-justify">
                      <p>Facebook accountability is our way to keep you consistently meeting your workouts. It's easy to make excuses and say that you'll do it the next day but with this feature, not only will you be hearing these excuses, but so will your friends. We will post on your behalf telling the world that you weren't able to stay committed.</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <%= render :partial => 'tryItButton' %>
          
        </div>
      </div>
    </div>
