<% content_for :head do %>
  <%= stylesheet_link_tag "about/howFittrWorks", :media => "all" %>
<% end %>
    
      <!-- Start of alternating gray -->
    <div class="offset4">
      <div class="span10">
        <!-- Boke head -->
        <div class="row-fluid">
          <div class="container-fluid container-bokeh-tech container-center innerGlowed">
            <div class="offset1 span10">
              <div class="hidden-phone">
                <h1 class="cubanoHead centerIt">The workout</h1>
                <h1 class="cubanoHead hugeT container-center">Genius</h1>
              </div>
            </div>
          </div>
        </div>
        
        <!-- row 1 -->
        <div class="row-fluid">
          <div class="container-roomier container-fluid">
            <div class="span12 hero-unit">
              <div class="span5 offset1">
                <div class="appleDesc">
                  <h1>Track your progress</h1>
                  <h2>Increase your results.</h2>

                  <p>Plugging in each day’s workouts will automatically sync with your account and you will be able to view your progress on your computer. So if you lose weight or are getting stronger you will be able to see in a graph exactly what you are achieving. After comparing your results to other users, Fittr will change your workout on the fly to help receive better results.</p>
                </div>
               </div>
               <div class="span5">
                 <%= image_tag 'about/magnifying.png' %>
               </div>
              </div>
            </div>
          </div>
        
        <!-- row 2 -->
        <div class="row-fluid">
          <div class="container-fluid container-right">
            <div class="span12 hero-unit">
              <div class="span5 offset1">
                <%= image_tag 'about/trophy.png' %>
              </div>
              <div class="span5">
                <div class="appleDesc">
                  <h1>Trophies and achievements</h1>
                  <h2>Bragging rights you have to earn.</h2>

                  <p>Based on your tracking analytics you will be rewarded trophies for achieving certain milestones in your fitness journey. Some trophies are easy to attain and some take hard work and dedication, so we hope to appeal to all fitness levels. You can share the trophies you’ve received with your friends on Facebook, Pinterest, and Twitter to brag about all your hard work.</p>
                </div>
              </div>
             </div>
            </div>
          
          <!-- row 3 -->
          <div class="row-fluid">
            <div class="container-roomier container-fluid">
              <div class="span12 hero-unit">
                <div class="span5 offset1">
                  <div class="appleDesc">
                    <h1>Peer pressure</h1>
                     <h2>Now a good thing.</h2>

                     <p>We understand that sometimes you just don’t feel like working out for whatever reason, but we want you to take full advantage of your Fittr membership so we’ve created an additional accountability measure. If you are committed to working out on a given day and you decide to skip it Fittr will post on your Facebook wall that you were lazy and missed a workout (This is an optional feature that can be turned off). Even though some people may not want to advertise to the world that they missed a work out we believe it is good motivation to stick it out.</p>
                  </div>
                 </div>
                 <div class="span5">
                  <%= image_tag 'about/accountability.png' %>
                 </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
