
      <!-- Start of alternating gray -->
    <div class="offset4">
      <div class="span10">
        <!-- Boke head -->
        <div class="row-fluid">
          <div class="container-fluid container-bokeh-tech container-center innerGlowed">
            <div class="offset1 span10">
              <div class="hidden-phone">
                <h1 class="cubanoHead centerIt">The workout</h1>
                <h1 class="cubanoHead hugeT container-center">Genius</h1>
              </div>
            </div>
          </div>
        </div>
    
    
     <!-- row 1 -->
      <div class="jumbosign">

        <div class="container-padded container-fluid">
          <div class="row-fluid">
            <div class="span12">
              <div class="span7">
                <div class="appleDesc">
                  <h1>Meet Alexis</h1>
                  <h2>Your virtual training assistant.</h2>

                  <div class="align-justify">
                    <p>Say you've hurt your knee. Or your workouts have been getting too intense recently. Just tell Alexis and she will be happy to assist you with changing your workouts, and in a limited amount of time, she will check in again to see if you're feeling better and ready to get back on track.</p>
                  
                </div>
              </div>
             </div>
             <div class="span5 bumpDown">
               <%= image_tag 'about/alexis.png' %>
               </div>
              </div>
            </div>
          </div>
        </div>

      <!-- row 2 -->
      <div class="jumbosign">
        <div class="container-fluid container-right">
          <div class="row-fluid">
            <div class="span12">
              <div class="span5">
                <%= image_tag 'about/brainparts.png' %>
              </div>
              <div class="span7">
                <div class="appleDesc">
                  <h1>One small step for man</h1>
                  <h2>One giant leap for artificial intelligence.</h2>
                  
                  <div class="align-justify">
                    <p>Fittr is the first of many steps towards the advancement of A.I. systems. Being based on the human brain, Fittr is able to learn how to make better workouts in a way no system ever has. Taking in data from every user, it finds underlying successes that even humans would be hard pressed to notice and then makes the best workout program for your individual needs.</p>

                  </div>
                </div>
              </div>
             </div>
            </div>
          </div>

      </div>

        <%= render :partial => 'tryItButton' %>
      </div>
    </div>
  </div>

    
