
    <!-- Start of alternating gray -->
      <!-- Boke head -->
      <div class="row-fluid">
        <div class="container-fluid container-bokeh-social container-center innerGlowed">
            <div class="hidden-phone">
              </br>
                </br>
              <h1 class="cubanoHead hugeT container-center">Privacy Policy</h1>
                  </br>
            </div>
        </div>
      </div>

        <!-- row 1 -->
         <div class="jumbosign">
             <div class="row-fluid">
               <div class="span12">
                   <div class="appleDesc">
                     <!-- privacy content -->

                       <h1>PRIVACY POLICY</h1>
                     </div>
                     <div class="span12">
                       <div class="bumpRiight">
                         <div class="span11">
                           <p>Ground Floor Interactive, DBA Fittr. (Fittr) owns and operates the websites http://fittr.com. The Site, together with any software applications (including mobile applications) that are made available by Fittr (Apps), and together with all content, forums, information sharing functions (including the ability to post User-generated content, User Content), tools, transactions and other services available at the Site, are collectively referred to as the Service.</p>
                           <p>The following policy explains how Fittr may collect, use and disseminate information obtained from Users of the Service. Capitalized terms used herein without definition will have the same meanings as defined in the Terms of Service applicable to the Site, Apps and Service, which are available at http://fittr.com/TermsOfUse.</p>
                         </div>
                       </div>
                     </div>
                     <div class="span1"></div>
                     <div class="span12">
                       <h2>Information Collected</h2>
                     </div>
                     <div class="span12">
                       <div class="bumpRiight">
                         <div class="span11">
                           <p>When you visit the Site, access an App or otherwise use the Service, web servers collect general information about your visit (such as, for example, traffic data like time, date and the address of the website from which you entered the Site), which is stored as anonymous, aggregate data. Fittr also collects more specific information about you and your use of the Service (such as, for example, demographic data, profile data, weights lifted and frequency or duration of use). Collecting such data (Traffic Data) may entail the use of software programs, web beacons, pixel tags, cookies, IP addresses or other numeric codes used to identify a computer.</p>
                           <p>At your election ("opt-in"), you may elect to register, thereby gaining access to additional aspects of the Service (such as, for example, ability to use Apps). When you do so, our registration process may require you to specify a username and password, and to provide your name, address, zip code, legitimate electronic mail address and certain additional information (such as, for example, your preferred contact method and goods and services that may be of interest); in order to obtain certain aspects of the Service, you may also elect to provide access information related to your accounts at social networking sites (such as, for example, Twitter, Facebook and MySpace); and in order to obtain certain Transaction services (such as, for example, in order to establish membership to Fittr), you will be required to provide valid credit card, bank account or mobile telephone account information for billing purposes (collectively, Registration Data).</p>
                           <p>By identifying yourself through a social networking account, Fittr may obtain additional information about your corresponding profile (to the extent permitted by the terms, conditions and functions of that social networking site). Also, Fittr may post on your behalf, regarding a skipped workout under the Facebook accountability feature.</p>
                           <p>If Fittr becomes aware that a person under 13 has provided personally identifiable information, it will take reasonable steps to remove such information and terminate the respective account.</p>
                         </div>
                       </div>
                     </div>
                     <div class="span1"></div>
                     <div class="span12">
                       <h2>Use of Information</h2>
                     </div>
                     <div class="span12">
                       <div class="bumpRiight">
                         <div class="span11">
                           <p>Fittr uses Traffic Data to help diagnose problems with its web servers, to administer the Site and to analyze User trends and behaviors. Your IP address is not linked to personally identifiable information, but is used to gather broad demographic data and to monitor statistics to improve the Service.</p>
                           <p>Fittr (and certain of its service providers, like payment processors) use Registration Data to deliver certain aspects of the Service to you, to contact you when necessary, to respond to your inquiries for additional information, to provide additional information according to your preferences, to facilitate or process Transactions, and for Fittr's other business purposes. Sometimes Registration Data is used to send you information about goods, services, forums and other information and services that are available at the Site or other websites. At your election at any time ("opt-out"), you may choose to stop receiving future communications from Fittr (see below).</p>
                           <p>Fittr will use social networking account information only for the purpose of providing the Service to the applicable Client, and Fittr will not otherwise attempt to obtain information from (or post irrelevant information using) such accounts.</p>
                         </div>
                       </div>
                     </div>
                     <div class="span1"></div>
                     <div class="span12">
                       <h2>Sharing of Information</h2>
                     </div>
                     <div class="span12">
                       <div class="bumpRiight">
                         <div class="span11">
                           <p>Currently, Fittr will not share personally identifiable information that it obtains from you with any third party for commercial purposes that are not related to the Service. For clarity, Fittr and its payment processors share personally identifiable information about you in connection with processing your Transactions, and Fittr may provide personally identifiable information to its partners as reasonably necessary to implement. Fittr may, however, disclose personally identifiable data if (a) reasonably necessary to perform the Service, (b) authorized by the User, (c) otherwise permitted under the Privacy Policy or (d) Fittr reasonably believes that such action is necessary to conform or comply with any legal, regulatory, law enforcement or similar requirement or investigation, to protect or defend the rights or property of GymPact or any User or to enforce the Terms of Service or any Primary Agreement.</p>
                           <p>Fittr may also transfer Traffic Data and Registration Data (including personally identifiable information) to any successor to all or substantially all of its business or assets that concerns the Service.</p>
                         </div>
                       </div>
                     </div>
                     <div class="span1"></div>
                     <div class="span12">
                       <h2>Security</h2>
                     </div>
                     <div class="span12">
                       <div class="bumpRiight">
                         <div class="span11">
                           <p>Information collected by Fittr is stored in secure operating environments that are not made generally available to the public. Unfortunately, no data transmission over the Internet or wireless network can be guaranteed to be 100% secure. As a result, Fittr cannot ensure the security of any information you provide, and you do so at your own risk. Once Fittr receives your transmission, it will make reasonable efforts to ensure its security on Fittr's systems.</p>
                         </div>
                       </div>
                     </div>
                     <div class="span1"></div>
                     <div class="span12">
                       <h2>Third Party Sites</h2>
                     </div>
                     <div class="span12">
                       <div class="bumpRiight">
                         <div class="span11">
                           <p>The Service may permit you to access the Service (including downloading Apps) from, and to link from the Service to, other websites on the Internet (including without limitation, to and from the websites of Site Affiliates). These other websites are not under Fittr's control. The privacy and security practices of websites linked to or from the Site are not covered by this Privacy Policy, and Fittr is not responsible for the privacy or security practices or the content of such websites.</p>
                         </div>
                       </div>
                     </div>
                     <div class="span1"></div>
                     <div class="span12">
                       <h2>IP Addresses and Cookies</h2>
                     </div>
                     <div class="span12">
                       <div class="bumpRiight">
                         <div class="span11">
                           <p>Fittr uses your IP address to help diagnose problems with its web servers and administer the Site. Your IP address is used to help identify you and to gather demographic information. IP addresses are also used to provide an audit trail regarding use of the Service.</p>
                           <p>"Cookies" are pieces of information that a website transfers to your computer's hard disk for record-keeping purposes. Cookies in and of themselves do not personally identify users, although they do identify a user's computer. You may be able to set your web browser to refuse cookies, which in turn may affect your ability to access and use the Service.</p>
                         </div>
                       </div>
                     </div>
                     <div class="span1"></div>
                     <div class="span12">
                       <h2>Non-US Users</h2>
                     </div>
                     <div class="span12">
                       <div class="bumpRiight">
                         <div class="span11">
                           <p>YOU EXPRESSLY CONSENT TO FITTR'S PROCESSING OF YOUR PERSONAL INFORMATION IN ACCORDANCE WITH THIS PRIVACY POLICY. YOUR PERSONAL INFORMATION MAY BE TRANSMITTED, STORED AND PROCESSED BY FITTR IN THE COUNTRY WHERE IT WAS COLLECTED AND IN THE UNITED STATES. UNITED STATES LAWS REGARDING PROCESSING OF PERSONAL INFORMATION MAY BE LESS STRINGENT THAN THE LAWS IN YOUR COUNTRY.</p>
                         </div>
                       </div>
                     </div>
                     <div class="span1"></div>
                     <div class="span12">
                       <h2>Changes</h2>
                     </div>
                     <div class="span12">
                       <div class="bumpRiight">
                         <div class="span11">
                           <p>Fittr reserves the right, at its sole discretion, to modify or replace this Privacy Policy, in whole or in part, at any time. Fittr will use reasonable efforts to notify you of any material change at least 30 days in advance of the effective date of any change. Change notices will be communicated by postings at the Site, via the Apps or, in the case of Clients, Fittr may also attempt to notify Clients by electronic mail. In any case, you should periodically check the Privacy Policy for changes. Continued use of the Service following any such notice of any change to the Privacy Policy shall constitute your acceptance of those changes. Information collected by the Service is subject to the Privacy Policy in effect at the time of use.</p>
                         </div>
                       </div>
                     </div>
                     <div class="span1"></div>
                     <div class="span12">
                       <h2>Contact</h2>
                     </div>
                     <div class="span12">
                       <div class="bumpRiight">
                         <div class="span11">
                           <p>You may correct or otherwise change your Registration Data by contacting Fittr, as provided below.</p>
                           <p>If you have any questions regarding this Privacy Policy or your dealings at this Site, please contact Fittr at:</p>
                           <p>contact@fittr.com</p>
                         </div>
                       </div>
                     </div>

                     <!-- end privacy content -->

                     </div>
                   </div>
                 </div>
               </div>
           </div>
           </div>
              <%= render :partial => 'tryItButton' %>
            </div>
          </div>


        </div>
      </div>