  <!-- Start of alternating gray -->
    <!-- Boke head -->
    <div class="row-fluid">
      <div class="container-fluid container-bokeh-tech container-center innerGlowed">
          <div class="hidden-phone">
            </br>
              </br>
            <h1 class="cubanoHead hugeT container-center">Terms Of Use</h1>
                </br>
          </div>
      </div>
    </div>
    
      <!-- row 1 -->
       <div class="jumbosign">
           <div class="row-fluid">
             <div class="span12">
                 <div class="appleDesc">
                   <!-- toa content -->

                   <div class="span12">
                     <h1>Terms Of Use</h1>
                   </div>
                   <div class="span12"></div>
                   <div class="span12">
                     <h2>Overview</h2>
                   </div>
                   <div class="span12">
                     <div class="bumpRiight">
                       <div class="span11">
                         <p>Welcome to Fittr. We are an online subscription service, providing our members with access to our countless goal oriented workout plans. Fittr also provides real time tracking that will report in depth statistics, giving an overview of how well Fittr is working for individuals. We've put together here some detailed terms and conditions. You should read and understand them as they govern your use of our service.</p>
                         <p>These Terms of Use are also a resource for you to get a deeper understanding of how our service works, including the kinds of data we collect, the way we bill, how we interact with you and other useful details about our service. We encourage you to revisit these Terms of Use when you have a question about the service or want to know how something works. For your convenience, we've indexed the Terms of Use so as to help you more easily navigate and access areas of interest. We hope you enjoy your Fittr experience.</p>
                         <p>Please note that these Terms of Use include embedded hyperlinks that may be accessed only through our website, so if you are reviewing these Terms of Use through a smartphone app, you may need to visit the website to review these additional hyperlinked terms.</p>
                       </div>
                     </div>
                   </div>
                   <div class="span1"></div>
                   <div class="span12">
                     <h2>Acceptance of Terms of Use</h2>
                   </div>
                   <div class="span12">
                     <div class="bumpRiight">
                       <div class="span11">
                         <p>IF YOU DO NOT AGREE TO ALL OF THE TERMS OF SERVICE, OR IF YOU ARE NOT ELIGIBLE OR AUTHORIZED TO ENTER INTO THIS AGREEMENT, THEN DO NOT DOWNLOAD ANY APP OR OTHERWISE ACCESS OR USE THE SERVICE IN ANY MANNER. COMPLETING THE REGISTRATION PROCESS, DOWNLOADING ANY APP OR OTHERWISE ACCESSING OR USING ALL OR ANY PART OF THE SITE OR SERVICE WILL CONSTITUTE ACCEPTANCE AND CREATE A LEGALLY ENFORCEABLE CONTRACT UNDER WHICH YOU AGREE TO BE BOUND BY ALL OF THE TERMS OF SERVICE, WITHOUT MODIFICATION.</p>
                       </div>
                     </div>
                   </div>
                   <div class="span1"></div>
                   <div class="span12">
                     <h2>Registration</h2>
                   </div>
                   <div class="span12">
                     <div class="bumpRiight">
                       <div class="span11">
                         <p>To become a member, the User must complete the registration process by providing Fittr (or its service providers, like payment processors) with current, complete and accurate information, as more specifically required by the then current registration procedures. By way of illustration and not limitation: to register, prospective  members may be required to specify a username and password, and to provide your name, address, zip code, legitimate electronic mail address and certain additional information (such as, for example, your preferred contact method and goods and services that may be of interest); in order to obtain certain aspects of the Service, Users may also elect to provide access information related to his or her accounts at social networking sites (such as, for example, Twitter, Facebook and MySpace). You shall maintain and update your registration data from time to time, to ensure that it is always current, complete and accurate. At its sole discretion, Fittr may refuse to accept any User's application to register as a member.</p>
                         <p>Upon acceptance, Fittr will provide access credentials to you. You are solely responsible for maintaining the confidentiality of your access credentials and other account information, and will be solely liable for any and all activities under your account. You agree to notify Fittr immediately of any unauthorized use of other member's account or any other breach of security.</p>
                         <p>Multiple Fittr accounts are prohibited. Any individual User may only register for and maintain 1 Fittr account. In addition, each Fittr account may be associated with only 1 payment method as may be permitted by Fittr (e.g., credit card, bank account or mobile telephone account).</p>
                       </div>
                     </div>
                   </div>
                   <div class="span1"></div>
                   <div class="span12">
                     <h2>Changes to Terms of Use</h2>
                   </div>
                   <div class="span12">
                     <div class="bumpRiight">
                       <div class="span11">
                         <p>Fittr reserves the right, from time to time, with or without notice to you, to change these Terms of Use, including the Privacy Policy and EULA, in our sole and absolute discretion. The most current version of these Terms of Use can be reviewed by visiting our website and clicking on "Terms of Use" located at the bottom of the pages of the Fittr website. The most current version of the Terms of Use will supersede all previous versions. We will endeavor to post prior version(s) on our website when the Terms of Use are updated. You can see changes from previous versions of the Terms of Use that we have posted by visiting our website and clicking here.</p>
                       </div>
                     </div>
                   </div>
                   <div class="span1"></div>
                   <div class="span12">
                     <h2>Privacy and Communications Preferences</h2>
                   </div>
                   <div class="span12">
                     <div class="bumpRiight">
                       <div class="span11">
                         <p>Any personally identifying information submitted through the Fittr service is subject to our Privacy Policy, the terms of which are incorporated herein. Please review our Privacy Policy to understand our practices. The date of any changes to our Privacy Policy will be noted at the bottom of the policy. By using our service, you are consenting to receive certain communications from us. For example, Fittr may send you newsletters about new Fittr features, special offers, promotional announcements and customer surveys via email or other methods. Please review our Privacy Policy for further detail on our marketing communications. You can also find the unsubscribe instructions there.</p>
                         <p>By using the Fittr service, you consent to receiving electronic communications from Fittr. These communications will include notices about your account (e.g., change in password or Payment Method, confirmation e-mails and other transactional information) and information concerning or related to our service. These communications are part of your relationship with Fittr and you receive them as part of the Fittr membership. You agree that any notice, agreements, disclosure or other communications that we send to you electronically will satisfy any legal communication requirements, including that such communications be in writing.</p>
                       </div>
                     </div>
                   </div>
                   <div class="span1"></div>
                   <div class="span12">
                     <h2>Membership and Billing</h2>
                   </div>
                   <div class="span12">
                     <div class="bumpRiight">
                       <div class="span11">
                         <p>You can find the specific details regarding your membership with Fittr at anytime by visiting our website and clicking on the "My Account" link.</p>
                         <br>
                         <h3>Free Trials</h3>
                         <p>Your Fittr membership may start with a free trial. The free trial period of your membership lasts for two weeks, or as otherwise specified during sign-up. Free trials may not be combined with any other offers. You must have Internet access to use our full service. If you have been a Fittr member within the last 12 months, or if your Payment Method, address or email address have been associated with a Fittr membership, you are not eligible to receive a free trial.</p>
                         <p>We will contact you about upgrading to our full service at the end of the free trial period of your membership. To view the specific details of your membership, including monthly membership price and end date of your free trial period, visit our website and click the "Membership Terms and Details" link on the "Your Account" page. We will continue to bill your Payment Method on a monthly basis for your membership fee until you cancel. You may cancel your membership at anytime; however, there are no refunds or credits for partially used periods.</p>
                         <br>
                         <h3>Billing</h3>
                         <p>By starting your Fittr membership, you are expressly agreeing that we are authorized to charge you a monthly membership fee at the then current rate, and any other charges you may incur in connection with your use of the Fittr service to the Payment Method you provided during registration (or to a different Payment Method if you change your account information). Please note that prices and charges are subject to change without notice. As used in these Terms of Use, "billing" shall indicate either a charge or debit, as applicable, against your Payment Method. The membership fee will be billed at the beginning of the paying portion of your membership and each month thereafter unless and until you cancel your membership. Visit our website and click on the "Membership Terms and Details" link on the "Your Account" page to see the commencement date for your next renewal period. We automatically bill your Payment Method each month on the calendar day corresponding to the commencement of your paying membership. Membership charges are fully earned upon payment. In the event your paying membership began on a day not contained in a given month, we bill your Payment Method on the last day of such month. For example, if you started your Fittr membership or became a paying member on January 31st, your next payment date is February 28th and your Payment Method would be billed on that date. You acknowledge that the amount billed each month may vary from month to month for reasons that may include differing amounts due to promotional offers and/or changing or adding a plan, and you authorize us to charge your Payment Method for such varying amounts, which may be billed monthly in one or more charges. For certain Payment Methods, the issuer of your Payment Method may charge you a foreign transaction fee or related charges. Check with your bank and credit card issuers for details.</p>
                         <p>We may also periodically authorize your card in anticipation of membership or related charges. Membership fees and charges are fully earned upon payment. PAYMENTS ARE NONREFUNDABLE AND THERE ARE NO REFUNDS OR CREDITS FOR PARTIALLY USED PERIODS. At any time, and for any reason, we may provide a refund, discount, or other consideration to some or all of our members ("credits"). The amount and form of such credits, and the decision to provide them, are at our sole and absolute discretion. The provision of credits in one instance does not entitle you to credits in the future for similar instances, nor does it obligate us to provide credits in the future, under any circumstance. We may change the fees and charges in effect, or add new fees and charges from time to time, but we will give you advance notice of these changes by email. If you want to use a different Payment Method or if there is a change in Payment Method, such as your credit card validity or expiration date, you may edit your Payment Method information by visiting our website and clicking on the "Your Account" link, available at the top of the pages of the Fittr website. If your Payment Method reaches its expiration date and you do not edit your Payment Method information or cancel your account (see, "Cancellation" below), you authorize us to continue billing that Payment Method and you remain responsible for any uncollected amounts.</p>
                         <br>
                         <h3>Ongoing Membership</h3>
                         <p>Your Fittr membership, which may start with a free trial portion, will continue month- to-month unless and until you cancel your membership or we terminate it. You must cancel your membership before it renews each month in order to avoid billing of the next month's membership fees to your Payment Method. We will bill the monthly membership fee to the Payment Method you provide to us during registration (or to a different Payment Method if you change your account information). Membership fees are fully earned upon payment.</p>
                         <br>
                         <h3>Cancellation</h3>
                         <p>You may cancel your Fittr membership at any time, so long as you are on a month- to-month membership plan. WE DO NOT PROVIDE REFUNDS OR CREDITS FOR ANY PARTIAL-MONTH MEMBERSHIP PERIODS OR UNUSED WORKOUTS IN A SIX MONTH PLAN. To cancel, visit our website and click on "Cancel Membership" on the "Your Account" page and follow the instructions for cancellation under the heading "Cancel Membership."</p>
                       </div>
                     </div>
                   </div>
                   <div class="span1"></div>
                   <div class="span12">
                     <h2>Right to Terminate</h2>
                   </div>
                   <div class="span12">
                     <div class="bumpRiight">
                       <div class="span11">
                         <p>We reserve the right to terminate or restrict your use of our service, without notice, for any or no reason whatsoever.</p>
                       </div>
                     </div>
                   </div>
                   <div class="span1"></div>
                   <div class="span12">
                     <h2>How Our Fitness Generation Service Works</h2>
                   </div>
                   <div class="span12">
                     <div class="bumpRiight">
                       <div class="span11">
                         <p>Fittr is an online subscription service providing its members access to our countless goal oriented workout plans which pulls from a large database of exercises and exercise variations which allows countless amounts of workout combinations. Based on equipment access, time constraints, and fitness level, Fittr offers a workout plan suitable to any individual.</p>
                         <p>Using the first ever neuro-cognitive supercomputer, Fittr is actually able to learn as it goes. Rather than taking in inputs such as users goals and returning with one selected workout out of a list, the Fittr engine is able to recognize regularities that would go unseen by even the most advanced systems. It then learns from these actions and figures ways on how to manipulate workouts to get better results.</p>
                         <p>Fittr also provides real time tracking that will report in depth statistics, giving an overview of how well Fittr is working for individuals, Fittr will then take into account average users analytics and mold an individuals workout to better match the average as well as go beyond this average. Additionally, these analytics will be tracked to match accomplishments (called “trophies”) these trophies will allow members to brag about new milestones as well as show the world that they are fitter.</p>
                         <p>We reserve the right in our sole and absolute discretion to make changes from time to time and without notice in how we operate our service. Any description of how our service works should not be considered a representation or obligation with respect to how the service will always work. We are constantly making adjustments to our service and often these adjustments are not completely captured within these Terms of Use.</p>
                       </div>
                     </div>
                   </div>
                   <div class="span1"></div>
                   <div class="span12">
                     <h2>Account Access; Identity Protection</h2>
                   </div>
                   <div class="span12">
                     <div class="bumpRiight">
                       <div class="span11">
                         <p>In order to provide you with ease of access to your account and to help administer the Fittr service, Fittr implements technology that enables us to recognize you as the account holder and provide you with direct access to your account without requiring you to retype any password or other user identification when you revisit the Fittr service. You are responsible for updating and maintaining the truth and accuracy of the information you provide to us relating to your account.</p>
                         <p>You are also responsible for maintaining the confidentiality of your account and password and for restricting access to your Fittr account. If you disclose your password to anyone or share your account with other people, you take full responsibility for their actions. Where possible, users of public or shared devices should log out at the completion of each visit. If you fail to log out, subsequent users may access the Fittr service through your account and may be able to access parts of your account information.</p>
                         <p>If you find that you're a victim of identity theft and it involves a Fittr account, you should report this instance to all your card issuers, as well as your local law enforcement agency. Also, you should be mindful of any communication requesting that you submit credit card or other account information. Providing your information in response to these types of communications can result in identity theft. Always access your sensitive account information by going directly to the Fittr website and not through a hyperlink in an email or any other electronic communication, even if it looks official. Fittr reserves the right to place any account on hold anytime with or without notification to the member in order to protect itself and its partners from what it believes to be fraudulent activity. Fittr is not obligated to credit or discount a membership for holds placed on the account by either a representative of Fittr or by the automated processes of Fittr.</p>
                       </div>
                     </div>
                   </div>
                   <div class="span1"></div>
                   <div class="span12">
                     <h2>Intellectual Property</h2>
                   </div>
                   <div class="span12">
                     <div class="bumpRiight">
                       <div class="span11">
                         <h3>Copyright</h3>
                         <p>The Fittr service, including all content included on the Fittr website and user interfaces, or delivered to members as part of the service, including, but not limited to, generated workouts, exercise variations, text, graphics, logos, designs, photographs, button icons, images, audio/video clips, data compilations, and software, are the property of Fittr or its licensors and are protected by United States and international copyright, trade secret or other intellectual property laws and treaties. The compilation of all content and any software or other materials provided by Fittr on our website and user interfaces, or in connection with the Fittr service are the exclusive property of Fittr and its licensors and are protected by the copyright and trade secret laws in the territories in which the Fittr service operates and by international treaty provisions. Content shall not be reproduced or used without express written permission from Fittr or its licensors. You agree not to decompile, reverse engineer or disassemble any software or other products or processes accessible through the Fittr service, not to insert any code or product or manipulate the content of the Fittr service in any way, and not to use any data mining, data gathering or extraction method. Fittr reserves the right to terminate your membership hereunder if Fittr, in its sole and absolute discretion, believes that you are in violation of Fittr software restrictions, restrictions against copying workouts provided to you by us, or other unauthorized copying or use of our proprietary content in violation of the copyrights of Fittr and its licensors. The use of the Fittr service, including workouts made available to you by us, is solely for your personal and non-commercial use. Please see the instructions at the end of these Terms of Use for notifying us of the presence of any allegedly infringing content of the Fittr service, including any on the Fittr website and user interfaces.</p>
                       </div>
                     </div>
                   </div>
                   <div class="span1"></div>
                   <div class="span12">
                     <h2>Service Testing</h2>
                   </div>
                   <div class="span12">
                     <div class="bumpRiight">
                       <div class="span11">
                         <p>From time to time, we test various aspects of our service, including our website, user interfaces, service levels, plans, promotions, features, availability of workouts, delivery, and pricing, and we reserve the right to include you in or exclude you from these tests without notice.</p>
                       </div>
                     </div>
                   </div>
                   <div class="span1"></div>
                   <div class="span12">
                     <h2>Your Conduct in Accessing the Fittr Service</h2>
                   </div>
                   <div class="span12">
                     <div class="bumpRiight">
                       <div class="span11">
                         <p>By accessing the Fittr service, including the Fittr website and user interfaces, you agree to use the Fittr service, including all features and functionalities associated therewith, the website and user interfaces and all content and software associated therewith in accordance with all applicable laws, rules and regulations, including public performance limitations or other restrictions on use of the service or content therein. In addition, you agree not to upload, post, e-mail or otherwise send or transmit any material that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment associated with the Fittr service. You also agree not to impersonate any other person while using the Fittr service, conduct yourself in a vulgar or offensive manner while using the Fittr service, or use the Fittr service for any unlawful purpose.</p>
                       </div>
                     </div>
                   </div>
                   <div class="span1"></div>
                   <div class="span12">
                     <h2>Limitations on Use</h2>
                   </div>
                   <div class="span12">
                     <div class="bumpRiight">
                       <div class="span11">
                         <p>As used herein, the term User means you.</p>
                         <p>The Service is available only to individuals who are at least 18 years old who can form legally binding contracts under applicable law. You hereby represent and warrant to Fittr that you meet the foregoing qualifications. If you do not so qualify, you are prohibited from accessing, using or registering for the Service. In any event, Fittr will not collect personally identifiable information from any person that is actually known to us to be under the age of 13. If Fittr becomes aware that a person under 13 has provided personally identifiable information, it will take reasonable steps to remove such information and terminate the respective account.</p>
                         <p>Users include all free-trial and member users that access or use the Site, any App or other aspect of the Service. Each User that properly completes the registration process shall be considered a Client for the purposes of the Terms of Service. Users that do not complete the registration process, or whose registration is not accepted, shall be considered Public Users. Public Users will have limited access to the Service, if at all.</p>
                         <p>Fittr may refuse to offer or continue offering the Service to any person and may change its eligibility criteria from time to time.</p>
                       </div>
                     </div>
                   </div>
                   <div class="span1"></div>
                   <div class="span12">
                     <h2>Your Conduct in Accessing the Fittr Service</h2>
                   </div>
                   <div class="span12">
                     <div class="bumpRiight">
                       <div class="span11">
                         <p>Fittr offers members the ability to incentivize their exercise programs by establishing separate contracts with Fittr in which they will be held accountable through facebook. Depending on whether or not the member complies with his or her commitments made through the facebook accountability program, and subject to the other terms and conditions of the Facebook Accountability Policy, members may allow Fittr to post on their facebook on their behalf.</p>
                       </div>
                     </div>
                   </div>
                   <div class="span1"></div>
                   <div class="span12">
                     <h2>Disclaimer of Warranties</h2>
                   </div>
                   <div class="span12">
                     <div class="bumpRiight">
                       <div class="span11">
                         <p>Fittr Provides the application on an “as is” basis. To the fullest extent permitted by law, Fittr makes no representations or warranties of any kind, express or implied, regarding the use or the results of this aplication in terms of its correctness, accuracy, reliability, or otherwise. Fittr shall have no liability for any interruptions in the use of its application. Fittr disclaims all warranties with regard to the information provided, including the implied warranties of merchantability and fitness for a particular purpose, and non-infringement. Some jurisdictions do not allow the exclusion of implied warranties, therefore the above-referenced exclusion is inapplicable</p>
                       </div>
                     </div>
                   </div>
                   <div class="span1"></div>
                   <div class="span12">
                     <h2>Limitation of Liability</h2>
                   </div>
                   <div class="span12">
                     <div class="bumpRiight">
                       <div class="span11">
                         <p>FITTR SHALL NOT BE LIABLE FOR ANY DAMAGES WHATSOEVER, AND IN PARTICULAR FITTR SHALL NOT BE LIABLE FOR ANY SPECIAL, INDIRECT, CONSEQUENTIAL, OR INCIDENTAL DAMAGES, OR DAMAGES FOR LOST PROFITS, LOSS OF REVENUE, OR LOSS OF USE, ARISING OUT OF OR RELATED TO THIS SERVICE OR THE INFORMATION CONTAINED IN IT, WHETHER SUCH DAMAGES ARISE IN CONTRACT, NEGLIGENCE, TORT, UNDER STATUTE, IN EQUITY, AT LAW, OR OTHERWISE, EVEN IF FITTR HAS BEEN ADVISED OF SUCH DAMAGES. SOME JURISDICTIONS DO NOT ALLOW FOR THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES, THEREFORE SOME OF THE ABOVE LIMITATIONS IS INAPPLICABLE.</p>
                         <p>Furthermore, Fittr is not intended to be a substitute for the services of trained professionals in any field, including, but not limited to, medical matter. Always seek the advice of your physician with any questions you may have regarding your physical or mental health and wellness. If you think you may have a medical emergency, call your doctor immediately. We make no representations or warranties concerning any treatment, action, application or usage of dietary supplements, medication, preparation or other product or service by any person following the information offered or provided within or through the Fittr service.</p>
                         <p>Reliance on any information appearing in the service is strictly at your own risk. Neither we, our affiliates nor any of the officers, directors, owners, employees, agents, representatives and assigns of each will be liable for any direct, indirect, consequential, special, exemplary or other losses or damages that may result including, but not limited to, economic loss, injury, illness or death. Fittr may contain options and views of other users. Fittr is intended for educational and entertainment purposes only. Such content is not intended to, and does not, constitute legal, professional, medical or healthcare advice or diagnosis, and may not be used for such purposes. Always seek the advice of your physician or other qualified health provider with any questions you may have regarding a medical or wellness condition. You shoul not act or refrain from acting on the basis of any content included in, or accessible through, the application without seeking the appropriate medical or other professional advice on the particular facts and circumstances at issue from a doctor or other trained health care professional licensed in the recipient’s state, country or other appropriate licensing jurisdiction.</p>
                       </div>
                     </div>
                   </div>
                   <div class="span1"></div>
                   <div class="span12">
                     <h2>Indemnification</h2>
                   </div>
                   <div class="span12">
                     <div class="bumpRiight">
                       <div class="span11">
                         <p>Members agree to indemnify and hold Fittr, its parent company, subsidiaries, affiliates, officers, employees, owners, harmless from any claim or demand, including reasonable attorneys’ fees and costs, made by any third party due to or arising out of member’s use of the service, the violation of this agreement, or infringement by members, or other user of the service using member’s computer, of any intellectual property or any other right of any person or entity.</p>
                       </div>
                     </div>
                   </div>
                   <div class="span1"></div>
                   <div class="span12">
                     <h2>Terms Required By Apple</h2>
                   </div>
                   <div class="span12">
                     <div class="bumpRiight">
                       <div class="span11">
                         <p>In the event that you obtain any App through the Apple App Store, offered by Apple, Inc. (Apple), the following shall apply:</p>
                         <ul>
                           <li>Both User and Fittr acknowledge that the agreements in the Terms of Service are concluded between User and Fittr only, and not with Apple, and that Apple is not responsible for the App;</li>
                           <li>User will only use the App in connection with an Apple device that User owns or controls;</li>
                           <li>User acknowledges and agrees that Apple has no obligation whatsoever to furnish any maintenance and support services with respect to the App;</li>
                           <li>In the event of any failure of the App to conform to any applicable warranty, including those implied by law, User may notify Apple of such failure; upon notification, Apple’s sole warranty obligation to User will be to refund to User the purchase price, if any, paid for the App;</li>
                           <li>User acknowledges and agrees that Fittr, and not Apple, is responsible for addressing any claims User or any third party may have in relation to the App;</li>
                           <li>User acknowledges and agrees that, in the event of any third party claim that the App or User’s possession and use of the App infringes that third party’s intellectual property rights, Fittr, and not Apple, will be responsible for the investigation, defense, settlement and discharge of any such infringement claim;</li>
                           <li>User represents and warrants that User is not located in a country subject to a U.S. Government embargo, or that has been designated by the U.S. Government as a “terrorist supporting” country, and that User is not listed on any U.S. Government list of prohibited or restricted parties;</li>
                           <li>Both User and Fittr acknowledge and agree that, in using the App, User will comply with any applicable third party terms of agreement which may affect or be affected by such use;</li>
                           <li>Both User and Fittr acknowledge and agree that Apple and Apple’s subsidiaries are third party beneficiaries of this Agreement, and that upon User’s acceptance of the Terms of Service, Apple will have the right (and will be deemed to have accepted the right) to enforce the Terms of Service against User as the third party beneficiary hereof; and</li>
                           <li>In the event User uses the App to provide User with real-time route guidance, USER’S USE OF THIS REAL TIME ROUTE GUIDANCE APPLICATION IS AT USER’S SOLE RISK. LOCATION DATA MAY NOT BE ACCURATE.</li>
                         </ul>
                       </div>
                     </div>
                   </div>

                   <!-- end toa content -->

                   </div>
                 </div>
               </div>
             </div>
         </div>
         </div>
            <%= render :partial => 'tryItButton' %>
          </div>
        </div>
          
          
      </div>
    </div>
